body {
    margin: 0px;
    padding: 0px;
    
}
nav {
    display: flex;
    justify-content: space-around;
    height: 50%;
    padding: 7px;
}
#logo img {
    height: 60%;
    margin-top: 10px;
}
#logo {
    display: flex;
    justify-content: space-around;
}
nav ul {
    display: flex;

}
nav ul li {
    list-style-type: none;
    margin-left: 45px;
    font-size: 19px;
    font-family: teko;
    font-weight: 600;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
#moodboard{
    background-image: url(firefighter.png);
    height: 670px;
    background-size: cover;
    margin-right: -8px;
}
#board {
    background-color: white;
    width: 50%;
    height: 54%;
    position: relative;
    bottom: -258px;
    left: 87px;
    list-style-type: none;
    padding: 25px 50px;
    display: list-item;
}
h1 {
    font-size: 40px;
    font-family: teko;
    font-weight: 700;
    margin-bottom: 0px
}
h2 {
    font-size: 40px;
    font-family: teko;
    font-weight: 700;
    margin-top: 8px;
}
p {
    font-size: 15px;
    font-weight: 500;
    margin-top: 0px;
    font-family: inter;
}
#board li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 500;
    font-family: inter;
}
li img {
    width: 21px;
    margin-right: 6px;
}
#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 35px;
    background-color: #002639;
}
.gridbox {
    text-align: left;
    color: white;
    background-color: #002639;
}
h3 {
    font-size: 18px;
    font-family: teko;
    font-weight: 600;
}
.gridbox p {
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
}
.gidbox {
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
  }
