html {
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    overflow-x: scroll;
}
nav {
    display: flex;
    justify-content: space-around;
    height: 50%;
    margin-right: 0px;
    
    padding: 7px;
    margin-bottom: 15px;
}
#logo img {
    height: 60%;
    margin-top: 10px;
}
#logo {
    display: flex;
    justify-content: space-around;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style-type: none;
    margin-left: 45px;
    font-size: 19px;
    font-family: teko;
    font-weight: 600;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: #00A5F7;
}
#moodboard{
    background-image: url(firefighter.png);
    background-repeat: no-repeat;
    height: 580px;
    background-size: 100%;
}
#board {
    background-color: white;
    width: 579px;
    height: 188px;
    list-style-type: none;
    padding: 18px 24px;
    display: list-item;
    margin-left: 83px;
    position: relative;
    bottom: -356px;
}
#blue a {
    text-decoration: none;
    color: #00A5F7;
}
#board ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}
#board li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
    font-family: inter;
}
li img {
    width: 21px;
    margin-right: 6px;
}
#board h1 {
    font-size: 45px;
    font-family: teko;
    font-weight: 700;
    margin-bottom: -28px;
    color: black;
}
#board h2 {
    font-size: 41px;
    font-family: teko;
    font-weight: 700;
    margin-bottom: 5px;
}
#grid-container {
    display: flex;
    margin-right: 0px;
    padding: 35px;
    background-color: #002639;
    justify-content: space-around;
    align-items: center;
}
.gridbox {
    text-align: left;
    color: white;
    background-color: #002639;
}
.gridbox h3 {
    font-size: 18px;
    font-family: teko;
    font-weight: 600;
}
.gridbox p {
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}
.gridbox h3 a {
    text-decoration: none;
    color: white;
}
.gridbox h3 a:hover {
    color: aqua;
}
#flexbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 155px;
}
#sez{
    background: #DDDDDD;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: space-around
}
@media screen and (max-width: 1115px) {
    .navbar.bg-light {
        display: none;
    }
#sez p {
    display: flex;
    justify-content: center;
    font-family: Teko;
    font-size: 23px;
    font-weight: 600;
    margin-left: 0px;
}
}
@media screen and (max-width: 992px) {
#board {
    background-color: white;
    width: 579px;
    height: 188px;
    list-style-type: none;
    padding: 18px 24px;
    display: list-item;
    margin-left: 0px;
    position: relative;
    bottom: -279px;
}
#moodboard {
    background-image: url(firefighter.png);
    background-repeat: no-repeat;
    height: 502px;
    background-size: 100%;
}
#grid-container {
    display: flex;
    margin-right: 0px;
    padding: 35px;
    background-color: #002639;
    justify-content: space-between;
    align-items: center;
}
#sez {
    background: #DDDDDD;
    height: 210px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#sez p {
    display: flex;
    justify-content: center;
    font-family: Teko;
    font-size: 23px;
    font-weight: 600;
    margin-left: 0px;
}
.flexitem {
    background: #002639;
    margin: 10px;
    display: flex;
    width: 90%;
    flex-direction: column;
    padding: 60px 47px;
    justify-content: space-around;
}
.flexitem img {
    height: auto;
    width: 100%;
}
.info p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}
inf li {
    font-size: 15px;
    font-weight: 400;
    font-family: inter;
}
.flexitem1 {
    background: #002639;
    margin: 10px;
    display: flex;
    width: 90%;
    flex-direction: column;
    padding: 60px 47px;
    justify-content: space-around;
    align-items: flex-start;
}
.flexitem1 img {
    width: 100%;
    height: auto;
}
.inf p {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}
}
@media only screen and (max-width:600px) {
    nav {
        display: none;
    }
    #moodboard{
    background-image: url(firefighter.png);
    height: 465px;
    background-size: 100%;
    background-repeat: no-repeat;
    }
    nav ul {
    display: none;
    }
#board {
    background-color: white;
    width: 100%;
    height: 188px;
    list-style-type: none;
    padding: 0px;
    display: list-item;
    margin-left: 1px;
    position: relative;
    bottom: -238px;
    }
#board ul {
    display: block;
    padding-left: 0px;
    margin-left: 7px;
    }
#board h1 {
    font-size: 30px;
    font-family: teko;
    font-weight: 700;
    margin-bottom: -33px;
    margin-left: 10px;
    }
#board h2 {
    font-size: 31px;
    font-family: teko;
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 10px;
}
    #grid-container {
        background-color: #002639;
        width: 100%;
        display: flex;
        padding: 4px;
        margin-left: -6px;
        flex-direction: column;
    }
    .gridbox {
        color: white;
        background-color: #002639;
        margin-left: -127px;
        width: 50%;
        margin-top: 18px;
    }
.gridbox p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}
#ads {
        width: 100%;
        height: 340px;
        display: flex;
        padding: 12px 27px;
        justify-content: space-evenly;
        flex-direction: column;
        margin-left: 0px;
    }
    header {
        font-family: Teko;
        font-size: 48px;
        font-weight: 600;
        margin-left: 23px;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    .flexitem {
        background: #002639;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 3px;
        margin-bottom: 29px;
    }
    .flexitem img {
        width: 100%;
    }
.info {
    margin-right: 0px;
    color: white;
    display: flex;
    padding: 15px;
    flex-direction: column;
}
.flexitem1 {
    background: #002639;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3px;
    margin-bottom: 29px;
}
.flexitem1 img {
    width: 100%;
}
.flexitem2 {
    background: #002639;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3px;
    margin-bottom: 29px;
    }
.flexitem2 img {
    width: 100%;
    height: 100%;
}
footer {
    width: 100%;
    display: block;
    background: #cbc4c494;
    height: auto;
    margin-left: 3px;
    margin-top: 20px;
    padding-bottom: 3px;
    padding-left: 10px;
}
.smallbox3 {
    letter-spacing: 20px;
    margin-top: 20px;
    margin-left: 5px;
}
.smallbox1 img {
    position: relative;
    top: 115px;
}
#color {
    height: 52px;
    background: #cbc4c494;
    width: 100%;
    margin-top: 0px;
    padding-right: 3px;
}
#sez {
    background: #DDDDDD;
    height: 100%;
    display: flex;
    width: 100%;
    padding: 0px;
    align-items: center;
}
#sez p {
    display: flex;
    justify-content: center;
    font-family: Teko;
    font-size: 22px;
    font-weight: 600;
    margin-left: 5px;
}
#flexbox {
        display: flex;
        flex-direction: column;
        margin-bottom: 77px;
}
#flexbox img{
    width: 100%;
    height: 190px;
}
.info p {
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6;
    margin-block-start: auto;
}
.inf {
    color: white;
    padding: 15px;
}
.inf li {
    font-size: 15px;
    font-weight: 400;
    font-family: inter;
}
.bug {
    color: white;
    padding: 15px;
}
body {
        overflow-x: scroll;
}
}
