html {
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    overflow-x: scroll;
}
nav {
    display: flex;
    justify-content: space-around;
    height: 50%;
    margin-right: 0px;
    
    padding: 7px;
    margin-bottom: 15px;
}
#logo img {
    height: 60%;
    margin-top: 10px;
}
#logo {
    display: flex;
    justify-content: space-around;
}
nav ul {
    display: flex;
    margin-top: 15px;
}
nav ul li {
    list-style-type: none;
    margin-left: 45px;
    font-size: 19px;
    font-family: teko;
    font-weight: 600;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: #00A5F7;
}
#moodboard{
    background-image: url(firefighter.png);
    background-repeat: no-repeat;
    height: 580px;
    background-size: 100%;
}
#board {
    background-color: white;
    width: 579px;
    height: 210px;
    list-style-type: none;
    padding: 18px 24px;
    display: list-item;
    margin-left: 83px;
    position: relative;
    bottom: -370px;
}
#blue a {
    text-decoration: none;
    color: #00A5F7;
}
#board ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
}
#board li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
    font-family: inter;
}
li img {
    width: 21px;
    margin-right: 6px;
}
#board h1 {
    font-size: 45px;
    font-family: teko;
    font-weight: 700;
    margin-top: 19px;
    margin-bottom: -21px;
    color: black;
}
#board h2 {
    font-size: 41px;
    margin-top: 19px;
    font-family: teko;
    color: black;
    font-weight: 700;
    margin-bottom: 4px;
}
#grid-container {
    display: flex;
    margin-right: 0px;
    padding: 35px;
    background-color: #002639;
    justify-content: space-evenly;
    align-items: center;
}
.gridbox {
    text-align: left;
    color: white;
    background-color: #002639;
    width: 21%;
}
.gridbox h3 {
    font-size: 18px;
    margin-top: 19px;
    font-family: teko;
    font-weight: 600;
}
.gridbox p {
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}
.gridbox h3 a {
    text-decoration: none;
    color: white;
}
.gridbox h3 a:hover {
    color: aqua;
}
#flexbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 155px;
}
#sez{
    background: #DDDDDD;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: space-around
}
#sez p{
    display: flex;
    color: black;
    justify-content: center;
    font-family: Teko;
    font-size: 23px;
    font-weight: 600;
    margin-left: -407px;
}
.flexitem {
    background: #002639;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    padding: 60px 47px;
    justify-content: space-around;
}
.flexitem img{
    height: auto;
    width: 50%;
}
#bi {
    font-family: Teko;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0px;
}
header {
    font-family: Teko;
    font-size: 48px;
    font-weight: 600;
    margin-left: 58px;
}
.bi {
    font-family: Teko;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 5px;
}
.info {
    color: white;
    margin-right: 25px;
}
.info p{
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6
}
.flexitem1 {
    background: #002639;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 60px 47px;
    justify-content: space-around;
    align-items: flex-start;
}
.flexitem1 img {
    width: 50%;
    height: auto;
    margin-right: 25px;
}
.inf {
    color: white;
    padding: 5px;
    margin-right: 50px;
}
.inf p {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0px;
    margin-top: 25px;
}
.inf li {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
}
.flexitem2 {
    background: #002639;
    display: flex;
    width: 100%;
    padding: 20px 47px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}
.flexitem2 img {
    width: 50%;
    height: 321px;
    object-fit: contain;
}
.bug {
    margin-right: 40px;
    color: white;
    padding: 7px;
}
.bug p {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
}
.button {
    background-color: #00A5F7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    font-family: inter;
    cursor: pointer;
    font-weight: 500;
}
footer {
    width: 100%;
    height: 255px;
    display: flex;
    padding: 0px 0px 20px;
    margin-top: 105px;
    background-color: #cbc4c494;
    justify-content: space-around;
    align-items: center; 
}
.smallbox2 {
    margin-top: 132px;
    display: flex;
    flex-direction: column;
}
.smallbox2 p {
    font-size: 18px;
    font-weight: 600;
    font-family: inter;
    color: #002639;
}
.pat{
    display: flex;
    align-items: center;
}
.pat p {
    margin-left: 10px;
    color: #002639;
    font-size: 15px;
    font-weight: 400;
    font-family: inter;
    margin-bottom: 8px;
}
.smallbox3 {
    letter-spacing: 20px;
}
#color {
    background-color: #cbc4c494;
    height: 78px;
    margin-top: 0px;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
#color p {
    color: #002639;
    font-size: 15px;
    font-weight: 400;
    font-family: inter;
}
@media screen and (max-width: 1115px) {

    #sez p {
    display: flex;
    justify-content: center;
    font-family: Teko;
    font-size: 23px;
    font-weight: 600;
    margin-left: 0px;
    }
    }
@media screen and (max-width: 992px) {
    .navbar .navbar-light .bg-light .fixed-top {
        display: none;
    }
    
    #board {
        background-color: white;
        width: 579px;
        height: 188px;
        list-style-type: none;
        padding: 18px 24px;
        display: list-item;
        margin-left: 0px;
        position: relative;
        bottom: -279px;
    }
    #moodboard {
        background-image: url(firefighter.png);
        background-repeat: no-repeat;
        height: 502px;
        background-size: 100%;
    }
    #grid-container {
        display: flex;
        margin-right: 0px;
        padding: 35px;
        background-color: #002639;
        justify-content: space-between;
        align-items: center;
    }
    #sez {
        background: #DDDDDD;
        height: 210px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #sez p {
        display: flex;
        justify-content: center;
        font-family: Teko;
        font-size: 23px;
        font-weight: 600;
        margin-left: 0px;
    }
    .flexitem {
        background: #002639;
        margin: 10px;
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 60px 47px;
        justify-content: space-around;
    }
    .flexitem img {
        height: auto;
        width: 100%;
    }
    .info p {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
    }
inf li {
    font-size: 15px;
    font-weight: 400;
    font-family: inter;
}
.flexitem1 {
    background: #002639;
    margin: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 60px 47px;
    justify-content: space-around;
    align-items: flex-start;
    }
.flexitem1 img {
    width: 100%;
    height: auto;
    }
.inf p {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}
}
    
@media only screen and (min-width:600px){
    .navbar.navbar-light.bg-light.fixed-top {
    display: none;
    }
}
@media only screen and (max-width:600px) {
     nav{
        display: none;
    }
    #moodboard{
    background-image: url(firefighter.png);
    height: 465px;
    background-size: 100%;
    background-repeat: no-repeat;
    }
    nav ul {
    display: none;
    }
#board {
    background-color: white;
    width: 100%;
    height: 188px;
    list-style-type: none;
    padding: 0px;
    display: list-item;
    margin-left: 1px;
    position: relative;
    bottom: -238px;
    }
#board ul {
    display: block;
    padding-left: 0px;
    margin-left: 7px;
    }
#board h1 {
    font-size: 30px;
    font-family: teko;
    font-weight: 700;
    margin-bottom: -33px;
    margin-left: 10px;
    }
#board h2 {
    font-size: 31px;
    font-family: teko;
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 29px;
    line-height: 1.3;
}
#grid-container {
    background-color: #002639;
    width: 100%;
    display: flex;
    padding: 4px;
    margin-left: 0px;
    flex-direction: column;
}
.gridbox {
    color: white;
    background-color: #002639;
    margin-left: -127px;
    width: 50%;
    margin-top: 18px;
}
.gridbox p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}
#ads {
        width: 100%;
        height: 340px;
        display: flex;
        padding: 12px 27px;
        justify-content: space-evenly;
        flex-direction: column;
        margin-left: 0px;
    }
.flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    .flexitem {
        background: #002639;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 3px;
        margin-bottom: 29px;
    }
    .flexitem img {
        width: 100%;
    }
.info {
    margin-right: 0px;
    color: white;
    display: flex;
    padding: 15px;
    flex-direction: column;
}
.flexitem1 {
    background: #002639;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3px;
    margin-bottom: 29px;
}
.flexitem1 img {
    width: 100%;
}
.flexitem2 {
    background: #002639;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3px;
    margin-bottom: 29px;
    }
.flexitem2 img {
    width: 100%;
    height: 100%;
}
footer {
    width: 100%;
    display: block;
    background: #cbc4c494;
    height: auto;
    margin-left: 0px;
    margin-top: 20px;
    padding-bottom: 3px;
    padding-left: 10px;
}
.smallbox2 {
    margin-top: 113px;
    display: flex;
    flex-direction: column;
}
.smallbox3 {
    letter-spacing: 20px;
    margin-top: 20px;
    margin-left: 5px;
}
.smallbox1 img {
    position: relative;
    top: 80px;
}
#color {
    height: 52px;
    background: #cbc4c494;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    padding-right: 3px;
}
#sez {
    background: #DDDDDD;
    height: 100%;
    display: flex;
    width: 100%;
    padding: 0px;
    align-items: center;
}
#sez p {
    display: flex;
    justify-content: center;
    font-family: Teko;
    font-size: 22px;
    font-weight: 600;
    margin-left: 5px;
}
#flexbox {
        display: flex;
        flex-direction: column;
        margin-bottom: 77px;
}
#flexbox img{
    width: 100%;
    height: 190px;
}
.info p {
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6;
    margin-block-start: auto;
}
.inf {
    color: white;
    padding: 15px;
}
.inf li {
    font-size: 15px;
    font-weight: 400;
    font-family: inter;
}
.bug {
    color: white;
    padding: 15px;
}
.fixed-top {
    position: relative !important;
}
body {
        overflow-x: scroll;
}
}

