body {
    margin: 0px;
    padding: 0px;
    
}
nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    padding: 7px;
}
#logo img {
    width: 75%;
    height: 60%;
    margin-top: 10px;
}
#logo {
    display: flex;
    justify-content: space-around;
}
nav ul {
    display: flex;

}
nav ul li {
    list-style-type: none;
    margin-left: 45px;
    font-size: 19px;
    font-family: teko;
    font-weight: 600;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
.moodboard{
    background-image: url("firefighter.png");
}