body {
    margin: 0px;
    padding: 0px;
    
}
nav {
    display: flex;
    justify-content: space-around;
    height: 50%;
    padding: 7px;
}
#logo img {
    height: 60%;
    margin-top: 10px;
}
#logo {
    display: flex;
    justify-content: space-around;
}
nav ul {
    display: flex;

}
nav ul li {
    list-style-type: none;
    margin-left: 45px;
    font-size: 19px;
    font-family: teko;
    font-weight: 600;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
#moodboard{
    background-image: url(firefighter.png);
    height: 670px;
    background-size: cover;
    margin-right: -8px;
}
#board {
    background-color: white;
    width: 60%;
    height: 56%;
    position: relative;
    bottom: -273px;
    left: 87px;
    padding: 30px 30px;
    display: list-item
}
h1 {
    font-size: 40px;
    font-family: teko;
    font-weight: 700;
    margin-bottom: 0px
}
h2 {
    font-size: 40px;
    font-family: teko;
    font-weight: 700;
    margin-top: 8px;
}
p {
    font-size: 15px;
    font-weight: 500;
    margin-top: 0px;
    font-family: inter;
}
li img {
    width: 21px;
}