body {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
nav {
    display: flex;
    justify-content: space-around;
    height: 50%;
    padding: 7px;
}
#logo img {
    height: 60%;
    margin-top: 10px;
}
#logo {
    display: flex;
    justify-content: space-around;
}
nav ul {
    display: flex;

}
nav ul li {
    list-style-type: none;
    margin-left: 45px;
    font-size: 19px;
    font-family: teko;
    font-weight: 600;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
#moodboard{
    background-image: url(firefighter.png);
    height: 670px;
    background-size: cover;
    margin-right: -8px;
}
#board {
    background-color: white;
    width: 50%;
    height: 244px;
    position: relative;
    bottom: -376px;
    left: 87px;
    list-style-type: none;
    padding: 25px 32px;
    display: list-item;
}
h1 {
    font-size: 40px;
    font-family: teko;
    font-weight: 700;
    margin-bottom: 0px
}
h2 {
    font-size: 40px;
    font-family: teko;
    font-weight: 700;
    margin-top: 8px;
}
#board ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}
#board li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 500;
    font-family: inter;
}
li img {
    width: 21px;
    margin-right: 6px;
}
#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin-right: 0px;
    padding: 35px;
    background-color: #002639;
}
.gridbox {
    text-align: left;
    color: white;
    background-color: #002639;
}
h3 {
    font-size: 18px;
    font-family: teko;
    font-weight: 600;
}
.gridbox p {
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}
#ads {
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#bi {
    font-family: Teko;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0px;
}
#ads p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
#box img {
    width: 100%;
}

#sez{
    background: #DDDDDD;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: space-around
}
#flexbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;
}
header {
    font-family: Teko;
    font-size: 48px;
    font-weight: 600;
    position: relative;
    top: 127px;
    left: 80px;
}
#sez p{
    display: flex;
    justify-content: center;
    font-family: Teko;
    font-size: 23px;
    font-weight: 600;
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 205px
}
.flexitem {
    background: #002639;
    margin: 10px;
    display: flex;
    width: 85%;
    flex-direction: row-reverse;
    padding: 60px 47px;
    justify-content: space-between;
}
.flexitem img{
    width: 43%;
}
.info {
    margin-right: 0px;
    color: white;
}
.info p{
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6;
}
.bi {
    font-family: Teko;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0px;
}
.flexitem1 {
    background: #002639;
    margin: 10px;
    display: flex;
    width: 85%;
    flex-direction: row;
    padding: 60px 47px;
    justify-content: space-between;
    align-items: flex-start;
}
.flexitem1 img {
    width: 43%;
}
.inf {
    color: white;
}
.inf p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
.button {
    background-color: #00A5F7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    font-family: inter;
    cursor: pointer;
    font-weight: 500;
  }
.flexitem2 {
    background: #002639;
    margin: 10px;
    display: flex;
    width: 85%;
    padding: 20px 47px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}
.flexitem2 img {
    width: 43%;
    height: 321px;
    object-fit: contain;
}
.bug {
    color: white;
}
.bug p {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
}